body {
  background-color: #dce6d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.stack-container {
  display: flex;
  width: fit-content;
  gap: 24px;

  img {
    width: 50px;
    height: 50px;
  }
}

.container {
  background-color: black;
  border-radius: 25px;
  height: 60%;
  width: 420px;
  padding: 0 12px 24px 12px;
  box-sizing: border-box;
  overflow-y: hidden;
  cursor: grab;
  user-select: none;
  position: relative;

  &.dragging {
    cursor: grabbing;
  }
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  padding: 12px 0 12px 0;
}

.header {
  .header__list {
    display: flex;
    color: white;
    gap: 12px;
    overflow: hidden;
    cursor: grab;
    user-select: none;

    .header__list-item {
      border: 1px solid rgba($color: #ffff, $alpha: 0.8);
      padding: 12px;
      border-radius: 24px;
      background-color: black;
      white-space: nowrap;
      cursor: grabbing;
      transition: background-color 0.3s ease, color 0.3s ease;

      &.selected {
        background-color: white;
        color: black;
      }
    }
  }
}

.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  .cards__card {
    background-color: white;
    padding: 24px 12px;
    border-radius: 15px;
    display: flex;
    gap: 36px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .card__title {
      font-size: 24px;
      font-weight: 800;
    }

    .card__footer {
      font-size: 12px;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        border-radius: 20px;
        padding: 6px 12px;
        border: 2px solid black;
        color: black;
      }

      .length {
        background-color: white;
      }
    }

    &:first-child {
      background-color: #292d33;
      border: 1px solid white;
      color: white;
      .card__title {
        color: white;
      }

      .price {
        background-color: white;
      }
    }

    &:nth-child(2) {
      background-color: #f5f4ef;
    }

    &:nth-child(3) {
      background-color: #f8fcb5;
    }

    &:nth-child(4) {
      background-color: #b19ff6;
    }

    &:nth-child(5) {
      background-color: #fed3d3;
    }

    &:nth-child(6) {
      background-color: #d0fedf;
    }

    &:nth-child(3n) {
      grid-column: span 2;
    }

    &:nth-child(7) {
      background-color: #f8fcb5;
      grid-column: span 2;
    }
  }
}
